body {
	background-color: #E6E6FA;
}

.balloon1-left {
	position: relative;
	display: inline-block;
	margin: 1.5em 0 1.5em 15px;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: #e0edff;
}

.balloon1-left:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid #e0edff;
}

.balloon1-left p {
	margin: 0;
	padding: 0;
}

.box11 {
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #5d627b;
	background: white;
	border-top: solid 5px #5d627b;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.box11 p {
	margin: 0;
	padding: 0;
}

.box12 {
	padding: 0.5em 1em;
	margin: 2em 0;
	color: #000000;
	background: #c6e4ff;
	border-bottom: solid 6px #aac5de;
	border-radius: 9px;
	word-wrap: break-all;

}

.box12 p {
	margin: 0;
	padding: 0;
}

.box23 {
	position: relative;
	margin: 2em 0 2em 40px;
	padding: 15px 15px;
	background: #c6e4ff;
	border-radius: 30px;
	min-width: 50px;
	max-width: 50%;
	height: 100spx;
	word-wrap: break-word;
	font-size: 14px;
}

.box23:before {
	font-family: FontAwesome;
	content: "\f111";
	position: absolute;
	font-size: 15px;
	left: -40px;
	bottom: 0;
	color: #c6e4ff;
	background: #c6e4ff;
	border-radius: 10px;
}

.box23:after {
	font-family: FontAwesome;
	content: "\f111";
	position: absolute;
	font-size: 23px;
	left: -23px;
	bottom: 0;
	color: #c6e4ff;
	background: #c6e4ff;
	border-radius: 5px;
}

.box23 p {
	margin: 0;
	padding: 0;
}

.title {
	font-size: 30px;
}
.category {
	font-size: 20px;
}


.stop {
	color: #ff0000;
}

.textbreak{
	word-wrap: break-all;
}

.restart {
	color: #0000ff;
}

.center {
	margin-left: auto;
	margin-right: auto;

}
.center2 {
	margin-left: auto;
	margin-right: auto;
	text-align   : center;

}


.signup1{
	width:200px;
}
.signup2{
	text-align: left;
    width: 330px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    color: red;
}
.signup4{
	text-align: left;
    width: 360px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.button {
  text-align    : center;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 7px;   /* 余白       */
  background    : #0000ff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 2px 1px #666666;  /* 影の設定 */
  border        : 2px solid #0000ff;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.button2 {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 7px;   /* 余白       */
  background    : #fe0a03;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 3px 2px 1px #666666;  /* 影の設定 */
  border        : 2px solid #fe0a03;    /* 枠の指定 */
}
.button2:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.button3 {
  text-align    : center;

  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 7px;   /* 余白       */
  background    : #00a854;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */


}




.category2 {
  font-size     : 11pt;
}